---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionHero from '../components/SectionHero.astro';
import HeaderBase from '../components/HeaderBase.astro';
---

<Layout title="Preciso Group">
	<main class="min-h-screen">
		<HeaderBase />
		<SectionHero />
	</main>
</Layout>