<nav class="bg-white shadow-lg">
    <div class="flex justify-center">
      <div class="flex justify-center items-center h-16">
        <a href="/home">
          <img src="imagenes/Group.png" alt="Logo" class="h-10">
        </a>
      </div>
    </div>
  </nav>
  