<section class="relative">
    <figure>
        <img src="imagenes/cabecera.jpg" alt="Banner Home" class="w-full">
        <div class="absolute inset-0 bg-gradient-to-t from-degradado to-transparent opacity-80"></div>
        <figcaption class="absolute bottom-40 left-0 right-0 flex flex-col items-center">
            <img src="imagenes/Industry.png" alt="Preciso Industry" class="w-70 h-20">
        </figcaption>
    </figure>
</section>
