<section class="py-6 w-full flex justify-center">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="imagenes/service-01.jpg" alt="Imagen 1" class="">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2 text-degradado">SERVICIOS ELÉCTRICOS DE BAJA TENSIÓN</h3>
            <p class="mb-4 font-semibold text-degradado">Realizamos instalaciones eléctricas completas, desde el diseño y planificación hasta la ejecución, asegurando el cumplimiento de todas.</p>
            <a href="#" class="inline-block bg-degradado text-white px-4 py-2 rounded-lg hover:bg-[#E16120] transition duration-200">Saber más</a>
          </div>
        </div>
  
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img src="imagenes/service-02.jpg" alt="Imagen 2" class="">
          <div class="p-6">
            <h3 class="text-xl font-bold mb-2 text-degradado">MANTENIMIENTO DE TABLEROS ELÉCTRICOS</h3>
            <p class="mb-4  text-degradado">Ofrecemos una amplia gama de servicios eléctricos para instalaciones de baja tensión, asegurando la eficiencia y confiabilidad de su sistema eléctrico.</p>
            <a href="#" class="inline-block bg-degradado text-white px-4 py-2 rounded-lg hover:bg-[#E16120] transition duration-200">Saber más</a>
          </div>
        </div>
      </div>
    </div>
  </section>